# General OS Files
############################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs & Temporary Files
############################
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn

# Node.js
############################
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js

# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
*.egg-info/

# Java
############################
*.class
*.jar
*.war
*.ear
*.iml
.idea/
target/
out/

# C, C++, Go
############################
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.dylib
*.out
vendor/

# PHP
############################
composer.lock
vendor/

# Databases
############################
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal

# IDE & Editor Files
############################
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Git & Version Control
############################
!.gitignore
.git/
.gitconfig
.gitattributes

# Archives & Compressed Files
############################
*.zip
*.tar.gz
*.rar
*.7z

# Backup Files
############################
*.bak
*.old
*.orig
*.swp
*.swo
*.swn

# Private & Sensitive Files
############################
.env
*.key
*.pem
*.crt
*.cert
